<main class="container mt-5">
    <div class="row justify-content-center">
        <form class="col-md-6" #formulario="ngForm" (ngSubmit)="registrar(formulario)">
            <h2>Formulario</h2>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" #nombre="ngModel" [ngModel] name="nombre" required
                    [ngClass]="{'is-valid':nombre.valid==true,'is-invalid':nombre.valid==false && nombre.dirty==true}"
                    minlength="5">
                <small class="text-danger d-block"
                    *ngIf="nombre.valid==false && nombre.dirty==true && nombre.errors?.required">El campo
                    <strong>nombre</strong> es obligatorio</small>
                <small class="text-danger d-block"
                    *ngIf="nombre.valid==false && nombre.dirty==true && nombre.errors?.minlength">Minimo 5
                    caracteres</small>
            </div>
            <div class="form-group">
                <label>Correo</label>
                <input type="email" class="form-control" #email="ngModel" [ngModel] name="email" required
                    [ngClass]="{'is-valid':email.valid==true,'is-invalid':email.valid==false && email.dirty==true}">
                <small class="text-danger d-block"
                    *ngIf="email.valid==false && email.dirty==true && email.errors?.required">El campo
                    <strong>email</strong> es obligatorio</small>

            </div>
            <div class="form-group">
                <label>Edad</label>
                <input type="number" class="form-control" #edad="ngModel" [ngModel] name="edad" required
                    [ngClass]="{'is-valid':edad.valid==true,'is-invalid':edad.valid==false && edad.dirty==true && edad.viewModel>90}"
                    min="0" max="90">
                <small class="text-danger d-block"
                    *ngIf="edad.valid==false && edad.dirty==true && edad.errors?.required">El campo
                    <strong>edad</strong> es obligatorio</small>
                <small class="text-danger d-block"
                    *ngIf="edad.valid==false && edad.dirty==true && edad.value>90">Valores del 0-90</small>
            </div>
            <div class="form-group">
                <label for="">Pais</label>
                <select class="form-control" #pais="ngModel" [ngModel] name="pais" required
                [ngClass]="{'is-valid':pais.valid==true,'is-invalid':pais.valid==false && pais.dirty==true && value!=0}">
                    <option value="0">Seleccione</option>
                    <option value="1">Peru</option>
                    <option value="2">Brasil</option>
                </select>
                <small class="text-danger d-block"
                *ngIf="pais.valid==false && pais.dirty==true && pais.errors?.required">El campo
                <strong>edad</strong> es obligatorio</small>
            </div>
            <button class="btn btn-block btn-dark" [disabled]="!formulario.valid" type="submit">
                Registrar Datos
            </button>
            <button class="btn btn-block btn-dark" (click)="formulario2(nombre,edad,email,pais)" type="button">
                    Registrar Datos
            </button>
        </form>
    </div>
</main>