<main class="container mt-5">

    <div class="row">

        <div class="col-12">
            <form >
                
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control">
                    
                    <div class="form-group">
                        <label for="">Edad</label>
                        <input type="number" class="form-control">

                        <div class="form-group">
                                <label for="">Pais</label>
                                <select name="" id="" class="form-control">
                                    <option value="0">Seleccione...</option>
                                </select>
                    </form>
                </div>
            </div>
        </div>

</main>