<main class="container mt-4">
  <p [ngStyle]="miCard">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error a quos
    aliquid quasi impedit inventore quam eveniet ad veniam debitis ex, modi
    nobis, illo repellendus culpa. Voluptatum quibusdam amet mollitia!
  </p>

  <p [ngStyle]="{'font-size:': '2rem', 'color': rojo}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
    assumenda quod sint illum, porro minima. Voluptatibus earum asperiores
    ducimus! At esse ab totam voluptatem animi voluptates non cupiditate nemo
    vitae!
  </p>
</main>
