

#cajapadre{

    position: relative;
    width: 900px;
    height: 400px;
    overflow: hidden;
}

#contenedor{

    position: absolute;
    top: 0px;
    width: 900px;
    height: 450px;
    transition: top 0.5s ease-in-out 0s;
}

#contenedorsuperior{

    width: 900px;
    height: 400px;
}

#contenedorinferior{

    width: 900px;
    height: 30px;
    padding-top: 15px;
    
    background-color: cornflowerblue;
    text-align: center;
}

#contenedor:hover{

    top: -400px;
    
}